/* LAYOUT */
.layout {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* SIDEBAR LINKS */
.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #ccc;
    border-radius: 8px;
    transition: 0.3s;
}

.sidebar a:hover {
    background: rgba(59,130,246,0.2);
    color: #fff;
}

/* LOGOUT */
.logout a {
    background: rgba(255,0,0,0.2);
    text-align: center;
}

.logout a:hover {
    background: rgba(255,0,0,0.4);
}

/* MAIN CONTENT */
.content {
    flex: 1;
    padding: 30px;
}